<div class="view-container">
    <div>
        <h4>Beschreibung</h4>
        <div>
            {{ component.description }}</div>
        <h4>Category</h4>
        <div class="text-view">
            {% for category in component.categories %}
                <div>
                    {{ category.name }}
                </div>
            {% endfor %}
        </div>
        <h4>Tags</h4>
        <div class="text-view">
            {% for tag in component.tags %}
                <div>
                    {{ tag.name }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <img class="view-image" src="../{{ component.image.uploadedFile|e('html') }}" 
        alt="{{ component.title }} image" class="rounded">
    </div>
</div>
