{% import '02-molecules/item-form.html.twig' as itemForm %}

{{ form_start(form) }}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="form-group">
            {{ form_row(form.name, {
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description, {
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <label>Tags</label>
        <ul class="view-tags" data-prototype="{{ itemForm.printItemRow(form.tags.vars.prototype)|e('html_attr') }}">
            {% for tag in form.tags %}
                <li>
                    {{ itemForm.printItemRow(tag) }}
                </li>
            {% endfor %}
        </ul>
        <label>Category</label>
        <ul class="categories" data-prototype="{{ itemForm.printItemRow(form.categories.vars.prototype)|e('html_attr') }}">
            {% for category in form.categories %}
                <li>
                    {{ itemForm.printItemRow(category) }}
                </li>
            {% endfor %}
        </ul>
        {{ form_row(form.submit, {
            'attr': {'class': 'btn btn-default'},
            'label': 'Update',
        }) }}
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            {{ form_row(form.image.name, {
                'attr': {'class': 'form-control'},
                'label': 'Image Title',
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.image.description, {
                'attr': {'class': 'form-control'},
                'label': 'Image Description',
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.image.uploadedfile, {
                'attr': {'class': 'form-control-file'},
                'label': 'Image File',
            }) }}
        </div>
        <label>Image Tags</label>
        <ul class="image-tags" data-prototype="{{ itemForm.printItemRow(form.image.tags.vars.prototype)|e('html_attr') }}">
            {% for tag in form.image.tags %}
                <li>
                    {{ itemForm.printItemRow(tag) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div style="display:none"> {# Hack for new components#}
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}