{{ form_start(form) }}
<div class="row">
    <div class="col-sm-12 col-md-8">
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        <h3>Tags</h3>
        <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
            {% for tag in form.tags %}
                <li>{{ form_row(tag) }}</li>
            {% endfor %}
        </ul>
        <h3>Category</h3>
        <ul class="categories" data-prototype="{{ form_widget(form.categories.vars.prototype)|e('html_attr') }}">
            {% for category in form.categories %}
                <li>{{ form_row(category) }}</li>
            {% endfor %}
        </ul>
        <ul class="components" data-prototype="<div>{{ form_widget(form.components.vars.prototype)|e('html_attr') }}</div>">
            {% for components in form.components %}
                <li>{{ form_row(components) }}</li>
            {% endfor %}
        </ul>
        {{ form_row(form.submit) }}
    </div>
    <div class="col-sm-12 col-md-4">
        {{ form_row(form.image.title) }}
        {{ form_row(form.image.description) }}
        {{ form_row(form.image.uploadedfile) }}
        <h4>Image Tags</h4>
        <ul class="tags" data-prototype="{{ form_widget(form.image.tags.vars.prototype)|e('html_attr') }}">
            {% for tag in form.image.tags %}
                <li>{{ form_row(tag.name) }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{{ form_end(form) }}
