{{ form_start(form) }}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="form-group">
            {{ form_row(form.name, {
            'attr': {'class': 'form-control', 'pattern': '[a-zA-Z0-9- ]+'}
        }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description, {
            'attr': {'class': 'form-control'}
        }) }}
        </div>
        <div class="form-group">
            <label>Tags</label>
            <div class="input-group">
                {{ form_widget(form.tags, {'attr': {'class': 'form-control', 'data-toggle': 'tagsinput', 'data-tags': project.tags|collection_json_encode}}) }}
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Categories</label>
            <div class="input-group">
                {{ form_widget(form.categories, {'attr': {'class': 'form-control', 'data-toggle': 'tagsinput', 'data-tags': project.categories|collection_json_encode}}) }}
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Components</label>
            <div class="input-group">
                {{ form_widget(form.components, {'attr': {'class': 'form-control', 'data-toggle': 'tagsinput', 'data-tags': project.components|collection_json_encode}}) }}
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        {{ form_row(form.submit, {
            'attr': {'class': 'btn btn-default btn-primary'},
            'label': 'Update',
        }) }}
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            {{ form_row(form.image.name, {
                'attr': {'class': 'form-control', 'pattern': '[a-zA-Z0-9- ]+'},
                'label': 'Image Title',
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.image.description, {
                'attr': {'class': 'form-control'},
                'label': 'Image Description',
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.image.uploadedfile, {
                'attr': {'class': 'form-control-file'},
                'label': 'Image File',
            }) }}
        </div>
        <div class="form-group">
            <label>Image Tags</label>
            <div class="input-group">
                {{ form_widget(form.image.tags, {'attr': {'class': 'form-control', 'data-toggle': 'tagsinput', 'data-tags': project.image.tags|collection_json_encode}}) }}
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
