 <form action="#" style="max-width: 480px">
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="{{ project.title }}" id="title">
        </div>
    </div>
    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control rounded" rows="4" cols="50">{{ project.description }}</textarea>
    </div>
    <h4>Category</h4>
    <div class="edit-container">
        {% for category in project.categories %}
            <div>
                <div>
                    {{ category.name }}
                </div>
                <div>
                    <button type="submit" class="btn btn-danger delete-category">delete</button>
                </div> 
            </div>
        {% endfor %}
    </div>
    <h4>Tags</h4>
    <div class="edit-container">
        {% for tag in project.tags %}
            <div> 
                <div> 
                    <label>{{ tag.name }}</label> 
                </div> 
                <div>            
                    <button type="submit" class="btn btn-danger delete-tag">delete</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <div>
            <img class="image-edit" src="{{ asset('/img/placeholder.jpg') }}" alt="placeholder" class="rounded">
        </div>
        <div class="edit-container">
            <div>
                <div>
                    <label>Delete the old Image</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-danger delete-image">delete</button>
                </div>
            </div>
        </div>
        <div class="edit-container">
            <div>
                <div>
                    <label>Upload a new Image</label>
                </div>
                <div class="image-file-upload">
                    <label for="file-upload" class="image-file-upload">
                        <div class="btn btn-success">upload</div>
                    </label>
                    <input id="file-upload" type="file"/>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary save-data">Save</button>
</form> 
