<div class="view-container">
    <div>
        <h4>Description:</h4>
        <div>{{ project.description }}</div>
        <h4>Category</h4>
        <div class="text-view">
            {% for category in project.categories %}
                <div>
                    {{ category.name }}
                </div>
            {% endfor %}
        </div>
        <h4>Tags</h4>
        <div class="text-view">
            {% for tag in project.tags %}
                <div>
                    {{ tag.name }}
                </div>
            {% endfor %}
        </div>
        <h4>Components</h4>
        <div class="text-view">
            {% for component in project.components %}
                <div>
                    {{ component.name }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <img class="view-image" src="../{{ project.image.uploadedFile|e('html') }}" 
        alt="{{ project.name }} image" class="rounded">
    </div>
</div> 