<div class="card bg-light custom-card-layout">
    <img src="../{{ component.image.uploadedFile.pathname }}"
    alt="{{ component.name }} image" class="rounded card-img-top">
    <div class="card-body">
        <h2 class="card-title">{{ component.name }}</h2>
        <p class="card-text">{{ component.description|striptags|slice(0, 200) }}</p>
        <a href="/component/{{ component.slug }}" class="btn btn-primary">Read More</a>
    </div>
</div>