
<div class="card bg-light">
    <img src="{{ project.image.uploadedFile.pathname }}" 
    alt="{{ project.title }} image" class="rounded float-right">
    <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        <a href="/project/{{ project.link }}" class="btn btn-primary">Read More</a>
    </div>
</div>