{% extends "04-templates/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/dropzone') }}
    {{ encore_entry_link_tags('css/media') }}
{% endblock %}
{% block title %}Media{% endblock %}
{% block content %}
<form>
    <div class="row">
        <div class="col-lg-9">
            <div id="media-upload-field">
                <div class="media-upload-textfield">
                    <div>Ziehen Sie die Datei auf Das Feld oder wählen Sie aus.</div>
                    <div class="btn btn-success">
                        Datei Auswählen
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div id="media-form">
                <div style="display: none;">
                    <input type="file" id="media_uploadedfile" name="media[uploadedfile]">
                    <input type="file" id="media_thumbnail" name="media[thumbnail]">
                </div>
                <div class="form-group">
                    <label for="media_name" class="required">Name</label>
                    <input type="text" id="media_name" name="media[name]" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <label for="media_description" class="required">Description</label>
                    <textarea cols="18" rows="8" id="media_description" name="media[description]" required="required" class="form-control">
                    </textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="button" value="Speichern">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="media-view">
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/dropzone') }}
    {{ encore_entry_script_tags('js/media') }}
{% endblock %}