{% extends "04-templates/base.html.twig" %}

{% block title %}Projects{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h1>{{ project.title }}</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#view">Ansicht</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#edit">Bearbeiten</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="view" class="container tab-pane active"><br>
                <div class="view-container">
                    <div>
                        <h4>Beschreibung</h4>
                        <p>{{ project.description }}<p>
                        <h4>Category</h4>
                        <p>{{ project.categories.name }}<p>
                        <h4>Tags</h4>
                        <p>
                            {% for tag in project.tags %}
                                {{ tag.name }}
                            {% endfor %}
                        <p>
                    </div>
                    <div>
                        <img src="{{ asset('/img/placeholder.jpg') }}" alt="placeholder" class="rounded"> 
                    </div>
                </div>     
            </div>
            <div id="edit" class="container tab-pane fade edit-container"><br>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
{% endblock %}
