{% extends "04-templates/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/tab-view') }}
{% endblock %}
{% block title %}Projects{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h1>{{ project.title }}</h1>
        {% include '04-templates/project-view-tab.html.twig' with {'project': project } %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/tab-form-edit') }}
{% endblock %}