{% extends "04-templates/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/tab-form') }}
{% endblock %}
{% block title %}Projects{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h1>{{ project.name }}</h1>
        {% include '02-molecules/flash-messages.html.twig' with {'flashes': app.flashes} %}
        {% include '04-templates/project-view-tab.html.twig' with {'project': project, 'form': form } %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/tab-form') }}
{% endblock %}